.container{
  padding: 5.1875rem 0;
  margin: 0 auto;
  height: auto;
  width: 100%;
  background: var(--green-1);

  display: flex;
  align-items: center;
  justify-content: center;

}
.box_log{
  width: 30.5rem;
  height: 36.75rem;
  background: var(--green-05);

  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--poppins);
 
  h1{
    font-size: var(--title-1);
    padding-bottom: 2rem;
  }
} 
.form_box{
  width: 18rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button{
    padding: 1rem;
    background: var(--green-2);
    border-radius: 0.5rem;
    font-size: var(--title-3);
    font-weight: 500;
  }
  
}
.input_label_box{
  display: flex;
  flex-direction: column;
  label{
   font-size: 1.125rem;
  }
  input{
    padding: 0.625rem;
    background: var(--gray-3);
    border: 0;
    border-radius: 0.3125rem;
    outline: 0;
    font-size: 1rem;
  }
}
.cont_dashboard{
  height: auto;
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box_navbar{
  height: 4rem;
  width: 100%;
  background: var(--green-1);
 
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;

}
.box_dash_search{
 
  margin: 0 auto;
  height: 30rem;
  width: 100%;

  display: flex;
  // align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  table {
    padding: 2rem;
    width: 40%;
    margin-top: 20px;
    color: var(--gray-7) ;
  
    th, td {
    
      padding: 16px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    tr:hover {
      background-color: #f5f5f5;
    }
    span{
      padding-right: 6px;
      color: var(--green-2) ;
      font-weight: 700;
    }
  }
}
.box_search_info{
  gap: 1rem;
  width: 50%;
  height: 5rem;
  margin-top: 2rem;


  input{
  height: 2rem;
  border: 0;
  border-bottom: 2px solid var(--green-2) ;
  outline: 0;
  font-size: var(--title-3);
  color: var(--green-2);
  }
}
