@import "~hamburgers/dist/hamburgers.min.css";
.container { 
  position: relative;
   width: 100%;
  background: var(--green-1);
  display: flex;
  
}
.box_navbar{
    height: 4rem;
    width: 100%;
  border-bottom: var(--green-1);
     display: flex;
     align-items: center;
     justify-content: space-between;
    
   
   }
  .box_logo{
    margin: 0 1.5rem;
    
    border-radius: 6px;
  }
  .box_out{
    margin: 0 2rem;
    a{
        color: var(--green-2);
    }
    button{
        background: transparent;
        display: flex;
        align-items: center;
    }
  }